{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-block mb-3">Primary</button>
        <button type="button" class="btn btn-secondary btn-block mb-3">Secondary</button>
        <button type="button" class="btn btn-success btn-block mb-3">Success</button>
        <button type="button" class="btn btn-danger btn-block mb-3">Danger</button>
        <button type="button" class="btn btn-warning btn-block mb-3">Warning</button>
        <button type="button" class="btn btn-info btn-block mb-3">Info</button>
        <button type="button" class="btn btn-light btn-block mb-3">Light</button>
        <button type="button" class="btn btn-dark btn-block mb-3">Dark</button>
        </div>
  </div>
</div>
{% endblock %}