{% extends 'layout.html' %}

{% block body %}
<div class='bgimg1'>
  <div class="container d-flex justify-content-center">
    <div class="card" style="width:600px">
      <img class="rounded mx-auto d-block" src="{{url_for('static', filename=links['picture'])}}" alt="Card image" style="width:50%"> 
      <div class="card-body">
        <h4 class="card-title">{{links['name']}}</h4>
        <p class="card-text">{{links['shortbio']}}</p>
        <div class="row">
         <a href="{{links['links'][0]['facebook']['link']}}" class='btn btn-primary btn-block mb-2'><i class="fab fa-facebook-square"></i><span>      </span>    Facebook</button></a>
         <a href="{{links['links'][1]['instagram']['link']}}" class="btn btn-secondary btn-block mb-3"><i class="fab fa-instagram"></i><span>          </span>Instagram</button></a>
         <a href="{{links['links'][2]['twitter']['link']}}" class="btn btn-info btn-block mb-3"><i class="fab fa-twitter"></i><span>          </span>Twitter</button></a>
         <a href="{{links['links'][3]['linkedin']['link']}}" class="btn btn-light btn-block mb-3"><i class="fab fa-linkedin"></i><span>          </span>LinkedIn</button></a>
         <a href="{{links['links'][4]['github']['link']}}" class="btn btn-dark btn-block mb-3"><i class="fab fa-github"></i><span>          </span>GitHub</button></a>
          </div>
    </div>  
      </div>
    </div>
  <div class="container">
      
  </div>
</div>
{% endblock %}